@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    David Pine<br />
    Pewaukee, WI 53072<br />
    <abbr title="Phone">P:</abbr>
    414.218.7727
</address>

<address>
    <strong>Email:</strong> <a href="mailto:david.pine.7@gmail.com">david.pine.7@gmail.com</a><br />
</address>
